@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-primary;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glass_bg {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}
